TWILIO_ACCOUNT_SID='' 
TWILIO_AUTH_TOKEN=''
TWILIO_MESSAGING_SERVICE_SID=''
TWILIO_FROM_NUMBER=''
AMPLITUDE_API_KEY=''
SMTP_PASSWORD=''
REVENUECAT_API_KEY=''
ADJUST_API_KEY=''
OPENAI_API_KEY=''
OPENAI_ASSISTANT_ID=''
OPENAI_API_BASE_URL=''
STRIPE_SECRET_KEY=''
STRIPE_SECRET_KEY_QA=''
ADJUST_EVENT_TOEKN_2H=''
ADJUST_EVENT_TOKEN_TRIAL_CONVERSION=''
ADJUST_APP_TOKEN=''
META_ACCESS_TOKEN=''
META_AD_ACCOUNT_ID=''
TIKTOK_ACCESS_TOKEN=''
TIKTOK_ADVERTISER_ID=''

# cat firebase-service.json | base64
FIREBASE_SERVICE_ACCOUNT_JSON_B64_ENC=''