@import url('https://fonts.googleapis.com/css?family=Lexend');

@font-face {
  font-family: 'Pearlone';
  src: url('@/assets/fonts/pearlone.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//! Base text values found in #app in shared.scss
.text-gradient {
  background: linear-gradient(90.49deg, #5AB3A8 52.67%, #FEF77D 98.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  margin: 0;
  line-height: 110%;

  @media (max-width: $sm-max-width) {
    font-size: 50px;
  }
}

h2 {
  font-size: 50px;
  line-height: 100%;
  font-weight: 700;
  margin: 0;

  @media (max-width: $sm-max-width) {
    font-size: 45px;
    line-height: 113%;
  }
}

h3 {
  font-size: 34px;
  line-height: 100%;
  margin: 0;
  letter-spacing: 1px;

  @media (max-width: $sm-max-width) {
    font-size: 30px;
    line-height: 142%
  }
}

h4 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;

  @media (max-width: $sm-max-width) {
    line-height: 143%;
  }
}

.text {
  color: #2A2C30;
  font-size: 16px;
}

.link {
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  line-height: 121%;
  color: #2A2C30;
  opacity: .7;
  text-decoration: none;
}